@font-face {
    font-family: "Lato";
    font-weight: 400;
    src: url('../../src/fonts/Lato/Lato-Regular.ttf');
}

@font-face {
    font-family: "Lato";
    font-weight: 500;
    src: url('../../src/fonts/Lato//Lato-Medium.ttf');
}

@font-face {
    font-family: "Lato";
    font-weight: 600;
    src: url('../../src/fonts/Lato/Lato-Semibold.ttf');
}

@font-face {
    font-family: "Lato";
    font-weight: 700;
    src: url('../../src/fonts/Lato/Lato-Bold.ttf');
}

@font-face {
    font-family: "Aretha";
    font-weight: 700;
    src: url('../../src/fonts/Aretha/Aretha-Bold.ttf');
}